.note {
  height: 100%;
  width: 100%;
}

.note-title {
  width: 100%;
  background-color: #0f0f0f;
  padding: 10px;
  font-size: 14px;
  border: none;
  color: #A4A4A4;
  font-weight: bold;
}

.note-input {
  width: 100%;
  background-color: #1E1E1E;
  padding: 10px;
  min-height: 40vh;
  font-size: 14px;
  border: none;
  color: white;
  resize: both;
}

.note-options-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.note-option-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #A4A4A4;
  height: 40px;
  background-color: #0f0f0f;
}

#note-copy-container {
  flex: 0 1 100%;
}

#note-delete-container {
  background-color: #250201;
  color: #F08784;
  padding: 12px;
}

.note-copy-container:hover {
  color: white;
}

.note-icon,
.note-label {
  margin: 0 4px;
}

.note-label {
  font-size: 12px;
}

.note-copied-text {
  margin: 10px;
  color: lightgrey;
}

.note-copied-text > span {
  font-style: italic;
}