header {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #1E1E1E; */
  background-color: #0f0f0f;
  z-index: 3;
}

.header-inner-container {
  padding: 10px 40px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
}
